name: Build And Release Tool

on:
  push

jobs:
  build-and-release:
    name: Build And Release
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go environment
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Environment
        run: |
          echo 'GITHUB_CONTEXT<<EOF' >>$GITHUB_ENV
          echo '${{toJson(github)}}' >>$GITHUB_ENV
          echo 'EOF' >>$GITHUB_ENV
          echo 'GOPROXY=direct' >>$GITHUB_ENV

      - name: Build
        run: |
          go get github.com/soerenkoehler/simpson@main
          go run github.com/soerenkoehler/simpson . --skip-upload
